body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.link{
    color: black;
    position: relative;
    text-decoration: none;
    transition: .3s;
    font-size: 2rem;
}
.link::after{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 92% 0 0 0;
    background: orangered;
    transition: .3s;


}
.link:hover{
    color: #fff;
}
.link:hover::after{
    inset: 0 0 0 0;
}